<div *ngFor="let survey of surveys">

  <h3>
    User: {{ survey.user }}
  </h3>

  <h2 *ngIf="survey.question">
    Question: {{ survey.question }}
  </h2>


  <div *ngIf="hasAnswered(survey); else hasntAnswered">

    <p *ngFor="let answer of survey.answers">
      {{answer.user}} answered {{answer.option}}
    </p>

  </div>

  <ng-template #hasntAnswered>

    <p *ngFor="let option of survey.options">
      <button (click)="answered(option, survey)">
        {{ option }}
      </button>
    </p>

  </ng-template>

</div>
